/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: grid;
    grid-template-columns: 320px 1fr;
    margin: 10px;


}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {

}

.exerciseHeaderNav ul {
    display: grid;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, 200px);
}

.exerciseHeaderNav ul li {


}

.exerciseMain {
    display: grid;
    grid-template-rows: 3fr 1fr;
    min-height: 600px;
}

.exerciseMainContent {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;

}


.exerciseAdditionalFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}