
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 10px;

}

.exerciseMainContent {

}

.exerciseMainAside {

}