/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain, .exerciseHeader {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;

}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;

}

.exerciseHeaderNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: 10px;

}

.exerciseHeaderNav ul li {
    min-width: 80px;
}


.exerciseMainContent {
    margin-bottom: 10px;

}


.exerciseAdditionalFeatures {
    display: flex;
    gap: 10px;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    flex: 1;


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}