
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMainFeatures {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;

}

.exerciseMainFeatures .exerciseMarketingFeature {
    width: 50%

}

.exerciseMainFeatures .exerciseMarketingFeature:first-child {

}

.exerciseAdditionalFeatures {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    width: 50%;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}